body {
	background-color: #f2f2f2	;
	font-family: 'Quicksand', sans-serif;
}
header {
	background-image: url(../img/bg-head.jpg);
	font-family: 'Montserrat', sans-serif;
}
header .facultad {
	width: 78%;
}
header span {
	color: #F61D1D;
}
nav {
	padding-top: 1px;
	font-size: 18px;
}
main h1 {
	font-size: 50px;
	margin-bottom: 30px;
}
main h2 {
	font-size: 40px;
	margin-bottom: 30px;
}
main p {
	font-size: 30px;
}
footer {
	height: 100px;
}
footer .row {
	height: 100px;
}
footer p {
	color: white;
}
